/* #Menu{
    display: flex;
    justify-content: flex-start;
} */

.app-container{
    top:10%;
    left:10%;
    right: 10%;
}

#auth{
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-logo{
    width: auto;
    height: 100px;
}

#search-bar-div{
    /* margin: 25px 0px 25px 0px; */
    padding:120px 0px 250px 150px;
    
    background-attachment:fixed;
/* 　  background-position:left; */
    background-repeat:no-repeat;
  /* object-fit: cover; */
  /* display: block; */
  position: relative;
  height: 640px


/* background-color: #f9c268; */
}

#search-bar-div::after {
  content: "";
  background-image: url( https://s3-ap-southeast-1.amazonaws.com/cdn.hkorderfood.tk/header-image-resize.jpg);

  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#search-padding{
    padding:5% 0px 10% 0px;
}

#map{
    /* margin:50px 0px 50px 0px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    padding-left: 0px;
    padding-right: 0px;
}
#map-div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    /* margin: 25px 0px 25px 0px; */
    background-color: #ffffd3;
}

#content {
    width: 100%;
    height:100%
    /* padding-top: 90px; */
}

#content > #map {

}

#content > #sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sections{
    background-color: #ceffd9;
    /* margin: 25px 0px 0px 0px; */
    padding: 40px auto;
}

#search-bar-font{
    font-size: 40px;


}
#search-bar{
    width:700px;
    font-size: 25px;
    padding:0px 0px 0px 70px; 
}

#common-share-layer{
    top:10px;
    justify-content: center;
    background-color: #F9FAFA;
    padding: 30px 0px 80px 0px;
    /* margin: 0px 0px 25px 0px; */
    height:230px;
    /* margin: auto 10px; */
}

#user-component{
    justify-content: center;
    align-items: center;

}


div span{
    padding: 10px;
}
.menu-item {
    
    display:flex;
    /* height: 100px; */
    cursor: pointer;
    justify-content: center;
} 

.teach{
    /* justify-content: center; */
     /* object-fit: contain; */
    width:100%;

}

#menu-div{
   align-items: center;
    margin: 25px 0px 25px 0px;
    background-color: #ffffd3;
    padding:10px 0px 0px 0px;
    flex-direction: column;
    align-items: center;

}

.menu-item-img{
    height:130px;
}
#more-options {
    cursor: pointer;
    color:#007bff;
}
.menu-flex{
     display:flex;
    /* height: 700px; */
    /* width:1200px; */
    padding: 15px;
    /* background-color:#e2e2e2; */
    flex-wrap: wrap;
    justify-content: center;
}

#menu-item{
  flex: none;
  width:200px;
  height:300px;
  background-color: #F9FAFA;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}


.flex-container{
    margin: auto;
    display: flex;
    padding: 0px  150px 90px 0px;
    justify-content:space-between;

}



 .menu-placeholder{
    margin:30px 150px 0px 0px;

}

 .button{
    width:100px;
    height:30px;
    /* background-color:#CCE5FF ; */
    border: 2px solid black;
    border-radius: 5px;
    /* padding:12px; */
    border-radius:5px;
    font-weight:bold;
    color:black;
    font-size: 15px;
    text-align: center;
    cursor: pointer;  
    margin: 10px;
    
 }


.item-border{
    border-style: dotted;
    margin:40px;
    padding:10px auto;
}



 #footer{
    /* margin:100px 0px 0px 0px; */
    background-color:#2E3333;
 }

 #footer-inner{
    padding:30px 70px 30px 70px;
    color:#EDF9F3
 }

 #footer-row{
    /* padding:5px 5px 5px 5px; */
    
    display:flex;
    /* padding: 15px; */
    flex-wrap: wrap;
    justify-content: center;

 }

 #footer-col{
    background-color: #434848;
    /* flex: none; */
    width:200px;
    margin: 15px;
    /* display: flex; */
    padding:20px 10px 20px 10px;
    /* display:flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
 }

 /* #footer-item{
     height:20px;
     width:200px;
 } */

 #footer-col img{
     width:100%;
 }

 #icon-bar{
    padding:10px 10px 20px 30px;

 }

 div svg{
     padding:5px;
 }