#loginPage{
    position: absolute;
        top: 5%;
        left: 50%; 
         margin-right: -50%; 
         transform: translate(-55%, -0%) ;
          max-width: 600px;
  margin: 0 auto; 
}

#loginPage{
    padding: 0 0.3em 0 0.3em;
}
form{
    display: block;
  background: black;
        color: white;
        border-radius: 1em;
        padding: 5px 5px 0px 10px;
        
}



p {
    /* padding: 1em 0 0 1em; */
    font-size: 1.3em
}

#pic {
    /* display: block; */
  position: absolute;
      widows: 50%;
}

.btn{
    margin:auto 10px;
}