#registerPage{
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ;
        margin: 3px  0px 0px 0px;
}


#registerPage{
    padding: 0 0.3em 0 0.3em;
}
form{
    display: block;
  background: black;
        color: white;
        border-radius: 1em;
        padding: 1em ;
        max-width: 530px;
        margin:0 auto;
}



p {
    /* padding: 1em 0 0 1em; */
    font-size: 1.3em
}

#pic {
    display: block;
  position: relative;
      width:95%;
}
Label{

width: 100%;
}

 input,
    .StripeElement {
      display: block;
      margin: 10px 0 20px 0;
      max-width: 500px;
      padding: 10px 14px;
      font-size: 1em;
      font-family: 'Source Code Pro', monospace;
      box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
      border: 0;
      outline: 0;
      border-radius: 4px;
      background: white;
    }

    input::placeholder {
      color: #aab7c4;
    }

    input:focus,
    .StripeElement--focus {
      box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
      -webkit-transition: all 150ms ease;
      transition: all 150ms ease;
    }

    .StripeElement.IdealBankElement,
    .StripeElement.PaymentRequestButton {
      padding: 0;
    }
