 body {
    font-family: Helvetica, sans-serif;
    width: 240px;
    height: 30px;
    background-color: white
} 
  
.react-autosuggest__container {
  position: static;
  width: 240px;
  height: 30px;
}   
.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
} 
  
.react-autosuggest__input--focused {
  outline: none;
} 
  
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
} 

.react-autosuggest__suggestions-container--open {
  display: block;
  top: 0;

  position: static;

  width: 240px; 
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  position: static;
  width: 240px;
  height: 30px;
  padding: 10px 20px;
}
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  

  ul{
      position: static;
      width: 240px;
      height: 30px;
      padding: 10px 20px;
  }