.dropdown {
     position: relative;
     display: inline-block;
}
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     top:45px;
     right:0px;
     width: 50px;
     background-color: white;
     font-weight:bold;
     position: absolute;

     box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
     z-index: 1;
}
 li a {
     color: #000;
     text-decoration: none;
}
 li {
     padding: 8px 16px;
     border-bottom: 1px solid #e5e5e5;
}
 li:last-child {
     border-bottom: none;
}
 li:hover {
     background-color: #e5e5e5;
     color: white;
}
 .button{

     width:100px;
     height:50px;
     /* background-color:#CCE5FF ; */
     border: 2px solid black;
  border-radius: 5px;
     /* padding:12px; */
     border-radius:5px;
     font-weight:bold;
     color:black;
     font-size: 30px;
      text-align: center;
/* }
 .button:before{
     content:in"";
     position:absolute;
     width:0px;
     height:0px;
     border: 10px solid;
     border-color: white transparent transparent transparent;
     right:6px;
     top:18px; */
}

nav{
border: 1px solid #000000;
padding: 0px 10px 10px 10px;
font-size: 20px;

}

#user-bar{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
}